@model CreateViewModel


<div class="container">
    <h2 class="mb-4">Register</h2>
    <form asp-controller="Account" asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Username</label>
            <input asp-for="UserName" class="form-control" required>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email Address</label>
            <input asp-for="Email" type="email" class="form-control" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Phone Number</label>
            <input asp-for="Phone" type="tel" class="form-control">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

