@model ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="background-color: #333344; border-radius: 15px;">
                <div class="card-header text-center" style="color: white;">
                    <h3>Reset Password</h3>
                </div>
                <div class="card-body">
                    <form asp-action="ResetPassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Token" />
                        <div class="form-group mb-3">
                            <label asp-for="Email" style="color: white;">Email</label>
                            <input type="email" class="form-control" asp-for="Email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Password" style="color: white;">Password</label>
                            <input type="password" class="form-control" asp-for="Password" required>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword" style="color: white;">Password Confirm</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
