body {
    background-color: #232431;
    color: white;
}

.access-denied-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

    .access-denied-container h1 {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .access-denied-container p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .access-denied-container a {
        color: #f0ad4e;
        text-decoration: none;
        border: 2px solid #f0ad4e;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

        .access-denied-container a:hover {
            background-color: #f0ad4e;
            color: #232431;
        }

.access-denied-emoji {
    font-size: 4rem;
}
