@model IEnumerable<IdentityRole>

<table class="table table-sm table-bordered">
    <tr>
        <th>Id</th>
        <th>Role Name</th>
        <th>Users</th>
        <th style="width: 125px;"></th>
    </tr>

    @if(Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">No roles found...</td>
        </tr>
    }

    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
             <td asp-role-users="@role.Id"></td>
         <td>
                <a class="btn btn-primary btn-sm">Edit</a>
                <form action="Roles/Delete" method="post" onsubmit="return confirm('Are you sure you want to delete the role?')" style="display:inline-block;">
                    <input type="hidden" value="@role.Id" name="id" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }

</table>

<a class="btn btn-primary" asp-controller="Roles" asp-action="Create">Create Role</a>
