@model IEnumerable<IdentityRole>

<table class="table table-sm table-bordered" style="color:white; background-color:#272937;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">No roles found...</td>
            </tr>
        }
        else
        {
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-controller="Roles" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                        <form action="Roles/Delete" method="post" onsubmit="return confirm('Are you sure you want to delete the role?')" style="display:inline-block;">
                            <input type="hidden" value="@role.Id" name="id" />
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-success" asp-controller="Roles" asp-action="Create">Create Role</a>
