<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - HighScore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #232431;
            color: white;
        }

        a {
            color: #f0ad4e; /* Altın sarısı bir renk */
        }

            a:hover {
                color: #d9534f; /* Kırmızı bir renk */
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>About Us</h1>
                <p class="lead">Discover the Story Behind HighScore</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Our Story</h2>
                <p>HighScore was founded in 1999 by Ömer Faruk Tamgaç in the vibrant city of Istanbul. Initially established as a gaming review magazine, HighScore has evolved over the years to become a leading platform where gamers from all around the world can share their opinions and rate games on a scale of 100.</p>
                <p>Our mission is to provide a space where gaming enthusiasts can connect, share insights, and discover new games. We believe in the power of community-driven reviews and are committed to maintaining the integrity and passion that has driven us since day one.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Website</h2>
                <p>Today, HighScore is more than just a magazine; it's a thriving online community. Our website, HighScore.com, allows users to evaluate games based on their personal experiences, providing scores out of 100. With a vast database of games and an active user base, HighScore is your go-to source for unbiased, community-driven game reviews.</p>
                <p>We are dedicated to keeping the spirit of gaming alive and thriving. Whether you're a casual gamer or a hardcore enthusiast, HighScore is the place to be for all things gaming.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2>Join Us</h2>
                <p>If you share our passion for gaming and want to be part of our growing community, <a asp-controller="Account" asp-action="Create" >sign up today</a> and start sharing your reviews!</p>
            </div>
        </div>
    </div>

</body>
</html>
